{# templates/list_equipescia.html.twig#}
{% extends '@!EasyAdmin/default/list.html.twig' %} 

{%  block content_title %}
    <tittle>
        Equipes inscrites aux interacadémiques  de  la  <b>{{   app.session.get('edition_titre') }}<sup>e</sup></b> edition.
    </tittle>
{%  endblock %} 

{% block global_actions %}

<div class="button-action">
<a type="button" class="btn btn-primary"  href="{{ path('liste_equipes') }}">Extraction tableau excel </a>
</div>

    {{ parent() }}
{% endblock %}
